# URL do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://postgres:senha@localhost:5432/db"


# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # URL do Better Auth 
BETTER_AUTH_TRUSTED_ORIGINS=

# Origens permitidas para o Next.js (somente para desenvolvimento)
NEXT_PUBLIC_ALLOWED_DEV_ORIGINS=

# Usuário primário (seed)
PRIMARY_USER_NAME=
PRIMARY_USER_EMAIL=
PRIMARY_USER_PASSWORD=
PRIMARY_USER_CPF=
PRIMARY_USER_CONTACT=
PRIMARY_USER_DATE_OF_BIRTH= # YYYY-MM-DD
PRIMARY_USER_ADDRESS=
