# URL do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://postgres:senha@localhost:5432/db"


# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # URL do Better Auth 

# Origens permitidas para o Next.js (somente para desenvolvimento)
NEXT_PUBLIC_ALLOWED_DEV_ORIGINS=
